@font-face {
	font-family: "Roboto Regular";
	src: url("../assets/fonts/Roboto/Regular/Roboto-Regular.ttf");
	src: url("../assets/fonts/Roboto/Regular/Roboto-Regular.ttf")format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Roboto Bold";
	src: url("../assets/fonts/Roboto/Bold/Roboto-Bold.ttf");
	src: url("../assets/fonts/Roboto/Bold/Roboto-Bold.ttf")format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Soyuz Grotesk Bold";
	src: url("../assets/fonts/SoyuzGrotesk/Bold/SoyuzGrotesk-Bold.woff");
  src: url("../assets/fonts/SoyuzGrotesk/Bold/SoyuzGrotesk-Bold.woff")format("woff"),
        url("../assets/fonts/SoyuzGrotesk/Bold/SoyuzGrotesk-Bold.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Inter Medium";
	src: url("../assets/fonts/Inter/Medium/Inter-Medium.ttf");
	src: url("../assets/fonts/Inter/Medium/Inter-Medium.ttf")format("truetype");
	font-style: normal;
	font-weight: normal;
}
