/* = CONTAINER = */
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin:0 auto;
	position: relative;
	width: 100%;
}
@media screen and (max-width: 568px) {
	.container{
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media screen and (min-width: 568px) and (max-width: 767px) {
	.container{
		max-width: 568px;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.container{
		max-width:768px;
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.container{
		max-width: 992px;
	}
}
@media screen and (min-width: 1200px) {
	.container{
		max-width: 1200px;
	}
}
/* = CONTAINER END = */